linkColor = #21bbf9
linkHoverColor = #139ad6
logoColor = black
lineColor = #e5e5e5
elwebGrey = #7f7f7f
elwebLightGrey = #bfbfbf
elwebDarkGrey = #3f3f3f
contentFont = Georgia, "Times New Roman", serif
